<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../stylesheets/dashbord.css">
    <link rel="stylesheet" href="../../stylesheets/admin_crs.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://use.fontawesome.com/c9d2b81f44.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <title>COURCES</title>
</head>
<script>
    $(document).ready(function () {
        console.log("Working");
        $(document).on("click", "#logout", function () {
            Cookies.remove('s2sadminToken');
            location.reload();
        })
        $('li').click(function () {
            $(this).addClass('active').siblings().removeClass('active');
        });

    });
</script>
<script src="https://use.fontawesome.com/c9d2b81f44.js">
</script>
<script src="../../javascripts/cources.js"></script>


<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <div class="nav-container">
                    <ul class="nav">
                        <li>
                            <a href="/admin-dashboard">
                                <span class="icon-home"></span>
                                <span class="text">Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="/mail">
                                <span class="icon-user"></span>
                                <span class="text">Mails</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">
                                <span class="icon-play"></span>
                                <span class="text">Cources</span>
                            </a>
                        </li>

                        <li>
                            <a href="/students">
                                <span class="icon-briefcase"></span>
                                <span class="text">Students</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" id="logout">
                                <span class="icon-calendar"></span>
                                <span class="text">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-10" style="background-color: blanchedalmond;">
                <button class="hidden" id="responce" value="<%=response%>"></button>
                <section>
                    <nav class="navbar navbar-inverse">
                        <div class="container-fluid">
                            <button data-toggle="modal" data-target="#add_cource" class="btn btn-danger navbar-btn">Add
                                Cource</button>
                            <!--  -->
                            <!--  -->
                        </div>
                    </nav>
                </section>
                <section class="our-courses text-center" id="cources-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="site-heading text-center">
                                    <h2 style="color: white;">Our Latest Courses</h2>
                                    <h4 style="color: white;">Select Our Latest Courses For Bright Carrier</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <%if(response!=undefined){%>

                                <% for(var i=0;i< response.length;i++){%>

                                    <% if(response[i].d_area=="Latest Cources" ){ %>
                                        <!-- Single Item -->
                                        <div class="col-md-4 col-sm-6 equal-height">
                                            <div class="card equal-height">
                                                <a href="/upload?courseId=<%=response[i]._id%>">
                                                    <%if(response[i].image!=undefined){%>
                                                        <img src="uploads/<%=response[i].image%>" class="card-img-top"
                                                            alt="...">
                                                        <%}else{%>
                                                            <img src="images/image-not-found.png" class="card-img-top"
                                                                alt="...">
                                                            <%}%>
                                                                <div class="middle">
                                                                    <div class="upl_text">Click Here to Upload Image
                                                                    </div>
                                                                </div>
                                                </a>
                                                <a href="/cource?courseId=<%=response[i]._id%>">
                                                    <div class="card-body">
                                                        <h3 class="card-title">
                                                            <%=response[i].crs_title%>
                                                        </h3>
                                                        <p class="card-text">
                                                            <%=response[i].short_des%>
                                                    </div>
                                                </a>
                                                <div class="button_e_d">
                                                    <button class="details" value="<%=response[i]._id%>">
                                                        Edit</button>
                                                    <button class="details dlt" value="<%=response[i]._id%>"
                                                        id="delete">
                                                        Delete</button>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- End Single Item -->
                                        <%}%>



                                            <%}%>
                                                <%}%>

                        </div>
                    </div>
                </section>


                <section class="our-courses text-center " style="background-color:#3856f3ed;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="site-heading text-center">
                                    <h2 style="color: white;">Featured Cources</h2>
                                    <!-- <h4 style="color: white;">Select Our Latest Courses For Bright Carrier</h4> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <%if(response!=undefined){%>

                                <% for(var i=0;i< response.length;i++){%>

                                    <% if(response[i].d_area=='Featured Cources' ){ %>

                                        <!-- Single Item -->
                                        <div class="col-md-4 col-sm-6 equal-height">

                                            <div class=" card equal-height">
                                                <a href="/upload?courseId=<%=response[i]._id%>">
                                                    <%if(response[i].image!=undefined){%>
                                                        <img src="uploads/<%=response[i].image%>" class="card-img-top"
                                                            alt="...">
                                                        <%}else{%>
                                                            <img src="images/image-not-found.png" class="card-img-top"
                                                                alt="...">
                                                            <%}%>
                                                                <div class="middle">
                                                                    <div class="upl_text">Click Here to Upload Image
                                                                    </div>
                                                                </div>
                                                </a>
                                                <a href="/cource?courseId=<%=response[i]._id%>">
                                                    <div class="card-body">
                                                        <h3 class="card-title">
                                                            <%=response[i].crs_title%>
                                                        </h3>
                                                        <p class="card-text">
                                                            <%=response[i].short_des%>
                                                    </div>
                                                </a>
                                                <button class="details" value="<%=response[i]._id%>">
                                                    Edit</button>
                                                <button class="details dlt" value="<%=response[i]._id%>" id="delete">
                                                    Delete</button>

                                            </div>

                                        </div>
                                        <!-- End Single Item -->
                                        <%}%>

                                            <%}%>

                                                <%}%>
                        </div>
                    </div>
                </section>

            </div>
            <!-- Modal -->
            <div class="modal fade" id="add_cource" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content" style="width: 160%;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title" style="text-align: center;">Add cource</h3>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="crs_title">Cource Title:</label>
                                    <input type="text" class="form-control" id="crs_title">
                                </div>
                                <div class="form-group">
                                    <label for="crs_type">Cource Type:</label>
                                    <select id="crs_type" name="crs_type">
                                        <option value="Full-Stack">Full-Stack</option>
                                        <option value="Front-End">Front-End</option>
                                        <option value="Back-End">Back-End</option>
                                        <option value="Basic">Basic</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" value="Featured Cources" checked>Featured
                                        Cources
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" value="Latest Cources">Latest Cources
                                    </label>
                                </div>


                                <div class="form-group">
                                    <label for="crs_desc">Cource Description:</label>
                                    <textarea class="form-control" rows="10" id="crs_desc"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="crs_shr_desc">Cource Short Description:</label>
                                    <textarea class="form-control" rows="6" id="crs_shr_desc"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="req">Requirments:</label>
                                    <textarea class="form-control" rows="6" id="req"></textarea>
                                    <p class="cnt_ins" style="color: red;">*Seprate Requirments giving ; between them
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label for="content">Content:</label>
                                    <textarea class="form-control" rows="6" id="content"></textarea>
                                    <p class="cnt_ins" style="color: red;">*Seprate Contents giving ; between them</p>
                                </div>


                            </form>
                            <form class="form-inline">
                                <div class="form-group" style="margin-right: 20px;">
                                    <label for="fee">Cource Fee:</label>
                                    <input type="number" class="form-control" id="fee">
                                </div>
                                <div class="form-group">
                                    <label for="dwd">Duration (<i>in hours</i>):</label>
                                    <input type="number" class="form-control" id="dwd">
                                </div>
                            </form>
                            <button type="button" id="add_crs"
                                style="width: 50%; height: 50px; margin-top: 20px; margin-left: 223px;">Add
                                Cource</button>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
</body>

</html>