<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../stylesheets/dashbord.css">
    <link rel="stylesheet" href="../../stylesheets/upload.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://use.fontawesome.com/c9d2b81f44.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <title>COURCES</title>
</head>
<script>
    $(document).ready(function () {
        console.log("Working");
        $(document).on("click", "#logout", function () {
            Cookies.remove('s2sadminToken');
            location.reload();
        })
        $('li').click(function () {
            $(this).addClass('active').siblings().removeClass('active');
        });

    });
</script>
<script src="https://use.fontawesome.com/c9d2b81f44.js">
</script>
<script src="../../javascripts/cources.js"></script>


<body>
    <div class="container-fluid">
        <div class="row">

            <!-- MENU BAR STARTS  -->

            <div class="col-sm-2 col-md-2">
                <div class="nav-container">
                    <ul class="nav">
                        <li>
                            <a href="/admin-dashboard">
                                <span class="icon-home"></span>
                                <span class="text">Website</span>
                            </a>
                        </li>
                        <li>
                            <a href="/mail">
                                <span class="icon-user"></span>
                                <span class="text">Mails</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="/edit-cources">
                                <span class="icon-play"></span>
                                <span class="text">Cources</span>
                            </a>
                        </li>

                        <li>
                            <a href="/students">
                                <span class="icon-briefcase"></span>
                                <span class="text">Students</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" id="logout">
                                <span class="icon-calendar"></span>
                                <span class="text">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- MENU BAR ENDS -->

            <div class="col-sm-10 col-md-10" style="background-color: white;">

                <!-- IMAGE UPLOAD FIELD -->

                <div class="col-sm-6" style="background-color: #3856f3ed; height: 100vh;">
                    <div class="container img_upload" style="border-bottom: white
                    solid 2px;">
                        <u>
                            <h2> Image Upload</h2>
                        </u>


                        <form action="/upload?courseId=<%=response._id%>" method="post" enctype="multipart/form-data">
                            <div class="file-field input-field">
                                <div class="btn">
                                    <input name="myImage" type="file">
                                </div>
                                <button type="submit" id="upl">Upload</button>

                            </div>

                        </form>
                        <br>
                        <h3 style="color: WHITE; font-weight: bolder;">
                            <%= typeof msg !='undefined' ? msg : '' %>
                        </h3>
                    </div>
                    <div class="instruction">
                        <p>*Image size should be less than 3 mb
                            <br>*Image resolution should be 720*360 pixel (width*height) for perfect alignment
                        </p>
                    </div>
                </div>

                <!-- IMAGE UPLOAD FIELD ENDS-->


                <!-- IMAGE PRIVIEW FIELD -->

                <div class="col-sm-6"
                    style="background-color: #3856f3ed; height: 100vh; border-left: 2px solid white; color: white;">

                    <u>
                        <h2 style="margin-top: 65px; color: white;"> Preview:</h2>
                    </u>
                    <div class="row" style="margin-top: 50px;">
                        <div class="col-md-8 col-sm-8 equal-height">
                            <div class="card equal-height">
                                <a href="/cource?courseId=<%=response._id%>">
                                    <%if(response.image!=undefined){%>
                                        <img src="uploads/<%=response.image%>" class="card-img-top" alt="...">
                                        <%}else{%>
                                            <img src="images/image-not-found.png" class="card-img-top" alt="...">
                                            <%}%>
                                </a>
                                <a href="/cource?courseId=<%=response._id%>">
                                    <div class="card-body">
                                        <h3 class="card-title">
                                            <%=response.crs_title%>
                                        </h3>
                                        <p class="card-text">
                                            <%=response.short_des%>
                                    </div>
                                    <button class="details" value="<%=response._id%>">Show
                                        Details</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- IMAGE PRIVIEW FIELD ENDS -->

            </div>
        </div>
    </div>

</body>
<script>
    $(document).ready(function () {
        console.log("working fine");
        var image = $("#image").val();
        console.log("image-->", image)
    })
</script>

</html>