<!DOCTYPE html>
<html>

<head>
    <title>glossy-login-form Website Template | Home :: w3layouts</title>
    <link href="../../stylesheets/style1.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet'
        type='text.css' />
    <!--//webfonts-->

</head>

<body>
    <!--start-login-form-->
    <div class="login-form">
        <h1>Member login</h1>
        <form method="post">
            <span>
                <input type="text" class="user" id="email" value="Username" onfocus="this.value = '';"
                    onblur="if (this.value == '') {this.value = 'Username';}">
            </span>
            <span>
                <input type="password" class="lock" id="password" value="Password" onfocus="this.value = '';"
                    onblur="if (this.value == '') {this.value = 'Password';}">
            </span>
            <div class="submit">
                <input type="button" value="LOGIN" id="btn_login" />
            </div>
            <div class="Remember-me">
                <span class="col_checkbox">
                    <input id="10" class="css-checkbox10" type="checkbox">
                    <a href="#">Remember me</a>
                </span>
                <span class="forget-pass">
                    <a href="#">Forgot password?</a>
                </span>
                <div class="clear"> </div>
            </div>

        </form>
        <!---start-copy-right---->
        <div class="copy-right">
            <p>Template by <a href="http://w3layouts.com/">W3layouts</a></p>
        </div>
        <!---End-copy-right---->
    </div>
    <!--//End-login-form-->

</body>

<script>
    $(document).ready(function () {
        $(document).on("click", "#btn_login", function () {
            console.log("button clicked");
            var username = $("#email").val();
            var password = $("#password").val();
            var data = {
                username: username,
                password: password
            }
            console.log(data);
            $.ajax({
                type: 'POST',
                data: data,
                url: '/admin-login',
                success: function (res) {
                    if (res.jwtdata) {
                        alert("loged in");
                        Cookies.set('s2sadminToken', res.jwtdata, { expires: 1 });
                        location.href = '/admin-dashboard';
                    } else {
                        alert(res.error);
                    }
                },
                Error: function (err) {
                    alert(res.Error);
                    console.log(res.Error);
                },
            })
        })
    });
</script>

</html>