<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../stylesheets/dashbord.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://use.fontawesome.com/c9d2b81f44.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <title>Dashbord</title>
</head>
<script>

</script>
<script>
    $(document).ready(function () {
        console.log("Working");
        $(document).on("click", "#logout", function () {
            Cookies.remove('s2sadminToken');
            location.reload();
        })
        $('li').click(function () {
            $(this).addClass('active').siblings().removeClass('active');
        });

    });
</script>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <div class="nav-container">
                    <ul class="nav">
                        <li>
                            <a href="/admin-dashboard">
                                <span class="icon-home"></span>
                                <span class="text">Website</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">
                                <span class="icon-user"></span>
                                <span class="text">Mails</span>
                            </a>
                        </li>
                        <li>
                            <a href="/edit-cources">
                                <span class="icon-play"></span>
                                <span class="text">Cources</span>
                            </a>
                        </li>

                        <li>
                            <a href="/students">
                                <span class="icon-briefcase"></span>
                                <span class="text">Students</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" id="logout">
                                <span class="icon-calendar"></span>
                                <span class="text">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-10" style="background-color: blanchedalmond;">

                <h3>All Mails (<%=mails.length%>) </h3>
                <div class="mails">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><input type="checkbox" value=""> </th>
                                <th>Name </th>
                                <th>Email</th>
                                <th>Phone No.</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            <% for(var i=0;i< mails.length;i++){%>
                                <tr>
                                    <td>
                                        <input type="checkbox" value="">
                                    </td>
                                    <td class="name">
                                        <%=mails[i].name%>
                                    </td>
                                    <td class="email">
                                        <%=mails[i].email%>
                                    </td>
                                    <td class="phone">
                                        <%=mails[i].phone%>
                                    </td>
                                    <td class="message">
                                        <%=mails[i].message%>
                                    </td>
                                    <td><button class="btn btn-danger btn_del" data-toggle="collapse"
                                            data-target=".query">Reply</i></button></td>
                                </tr>
                                <%}%>
                        </tbody>
                    </table>
                    <div class="lower_bdy">
                        <button class="btn btn-danger btn_del"
                            style="float: right; margin-right: 100px;">Delete</i></button>
                        <button class="btn btn-danger btn_del" style="float: right; margin-right: 20px;">Mark
                            Read</i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script src="https://use.fontawesome.com/c9d2b81f44.js">
    </script>

</body>

</html>