<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="../javascripts/technology.js"></script>
</head>
<style>
    .hide {
        display: none;
    }

    .map-container {
        text-align: center;
        margin-top: 35px;
    }


    .front_end {
        margin-bottom: 35px;
    }

    .map-point-sm {
        font-family: inherit;
        font-size: 15px;
        line-height: inherit;
        border-radius: 100px;
        margin: 20px;
        width: 100px;
        height: 100px;
        background-color: #d7e909;
        color: black;
    }

    .map-point-sm:hover {
        background-color: wheat;

    }

    .active {
        background-color: white;
    }

    .technology-work {
        background-color: #3856f3ed;
        height: 100vh;
        padding: 20px;
        border-bottom: 2px solid white;

    }

    .fend_img_logo {
        width: 100px;
        margin: 15px;
    }
</style>

<body>
    <!-- technology we work with-->
    <section class="technology-work" id="about">
        <div class="container">
            <div class="technology-heading text-center">
                <h2 style="color: white;">Technology We Work With</h2>
            </div>
            <div class="map-container">
                <div class="inner-basic division-map div-toggle" data-target=".division-details" id="divisiondetail">
                    <button class="map-point-sm active" data-show=".front_end">
                        <div class="content">
                            <div class="centered-y">
                                <i class="fas fa-tv"></i>
                                <p>Front-End</p>
                            </div>
                        </div>
                    </button>
                    <button class="map-point-sm" data-show=".back_end">
                        <div class="content">
                            <div class="centered-y">
                                <i class="fas fa-laptop-code"></i>
                                <p>Back-End</p>
                            </div>
                        </div>
                    </button>
                    <button class="map-point-sm" data-show=".mobile_app">
                        <div class="content">
                            <div class="centered-y">
                                <i class="fas fa-mobile-alt"></i>
                                <p>Mobile-App</p>
                            </div>
                        </div>
                    </button>
                    <button class="map-point-sm" data-show=".data_base">
                        <div class="content">
                            <div class="centered-y">
                                <i class="fas fa-database"></i>
                                <p>Data-Base</p>
                            </div>
                        </div>
                    </button>
                </div><!-- end inner basic -->
            </div>


            <div class="map-container">
                <div class="inner-basic division-details">
                    <div class="front_end">
                        <img src="../images/html5.webp" class="fend_img_logo">
                        <img src="../images/css.webp" class="fend_img_logo">
                        <img src="../images/bootstrap-icon-css.png" class="fend_img_logo">
                        <img src="../images/jquary.png" class="fend_img_logo">
                        <img src="../images/angular_logo.png" class="fend_img_logo">
                        <img src="../images/pngwing.com.png" class="fend_img_logo">
                    </div>
                    <div class="back_end hide">
                        <img src="../images/java_logo.png" class="fend_img_logo">
                        <img src="../images/python_logo.png" class="fend_img_logo">
                        <img src="../images/csharp_logo.png" class="fend_img_logo">
                        <img src="../images/node_logo.png" class="fend_img_logo">

                    </div>
                    <div class="mobile_app hide">
                        <p>mobile_app Content here</p>
                    </div>
                    <div class="data_base hide">
                        <img src="../images/sql_logo.png" class="fend_img_logo">
                        <img src="../images/mongodb-logo.png" class="fend_img_logo">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--technology we work with ends-->
</body>

</html>