<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cources</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' type="text/css" href='../stylesheets/cource.css'>
    <script src="../javascripts/mail.js">

    </script>

</head>
<style>

</style>

<body>
    <nav class="menu">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"
                    style="float: left;">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Cources</a></li>
                    <li><a href="#">Carrier</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron text-center">
        <h1>
            <%=data.crs_title%>
        </h1>
        <p>Try some pickup lines</p>
    </div>

    <div class="container" style="margin-bottom: 200px;">
        <h2>About Cource</h2>
        <ul class="nav nav-tabs crs_mu">
            <li class="active"><a data-toggle="tab" href="#home">Description</a></li>
            <li><a data-toggle="tab" href="#menu1">Content</a></li>
            <li><a data-toggle="tab" href="#menu2">Requirment</a></li>
            <!-- <li><a data-toggle="tab" href="#menu3">Faq</a></li> -->
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3>Description:</h3>
                <div class="content ">
                    <p class="description">
                        <%=data.long_des%>
                    </p>

                </div>
            </div>
            <div id="menu1" class="tab-pane fade">
                <h3>Content:</h3>
                <div class="content">
                    <% for(var i=0;i< data.content.length;i++){%>
                        <%=i+1%>)
                            <%=data.content[i]%><br>
                                <%}%>
                </div>
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>Requirment:</h3>
                <div class="content">
                    <% for(var i=0;i< data.requriment.length;i++){%>
                        <%=i+1%>)
                            <%=data.requriment[i]%><br>
                                <%}%>
                </div>

            </div>
            <!-- <div id="menu3" class="tab-pane fade">
                <h3>Faq</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                </p>
            </div> -->

        </div>
    </div>

    <div class="footer">
        <div class="container" style="background-color:black;">
            <div class="content">
                <p style="color: white;">Course Fee: <%=data.crs_fee%>
                        <br> Duration: <%=data.duration%> hrs
                </p>
            </div>
            <div class="buttons">
                <button type="button" class="btn btn-success" data-toggle="modal"
                    data-target="#Inquiry">Inquiry</button>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#apply">Apply</button>
            </div>
        </div>

    </div>

    <!-- apply-Modal -->
    <div class="modal fade" id="apply" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center;">Student Details</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="std_name" type="text" class="form-control" name="name" placeholder="Name">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input id="std_email" type="email" class="form-control" name="email" placeholder="Email">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                            <input id="std_phone" type="text" class="form-control" name="number"
                                placeholder="Phone Number" maxlength="10">
                        </div>
                        <br>
                        <div class="text-center">
                            <button type="button" class="btn btn-default" id="std_apply"
                                style="width: 150px;height: 50px;">Submit</button>
                        </div>




                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>



    <!-- Inquiry model -->
    <div class="modal fade" id="Inquiry" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center;">Inquiry</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="name" type="text" class="form-control" name="name" placeholder="name">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input id="email" type="email" class="form-control" name="email" placeholder="Email">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                            <input id="phone" type="text" class="form-control" name="number" placeholder="Phone Number"
                                maxlength="
                            10">
                        </div>
                        <br>
                        <textarea class="form-control" rows="7" placeholder="Your Query About The Cource" id="message"
                            name="message"></textarea>
                        <br>
                        <div class="text-center">
                            <button type="button" class="btn btn-default" id="send_mail"
                                style="width: 150px;height: 50px;">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</body>
<script>
    $(document).ready(function () {
        // var desc = $("#desc").val().replace(/\\n/g, '\n');
        var description = $(".description").text();
        // $(".description").text(desc);
        // console.log("desc-->", desc);
        console.log("desc-->", description);
    })
</script>

</html>