<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <link rel='stylesheet' type="text/css" href='../stylesheets/style.css'>

  <!-- crousel cdn-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- crousel cdn -->

  <!-- what we offer content cdn-->
  <link rel="stylesheet" href="https://demo.voidcoders.com/htmldemo/fitgear/main-files/assets/css/animate.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <!-- what we offer content cdn -->
  <script src="../javascripts/crousel.js">

  </script>
  <script src="../javascripts/offer.js"></script>
  <script src="../javascripts/mail.js"></script>
  <script src="../javascripts/server.js"></script>

</head>

<body>
  <!-- ****************server response************** -->
  <button id="button" class="hidden" value="<%=response%>">Click me</button>
  <!-- ****************server response************** -->


  <nav class="navbar" style="margin: 0; background-color: #2d074bed;">
    <div class="container-fluid">
      <span class="contact-info"><i class="fa fa-envelope"></i><a href="#">info@steptosoft.com</a></span>
      <span class="contact-info"><i class="fa fa-phone"></i><a href="#">+91-9749478467</a></span>
      <div class="navbar-header" style="width: 100%;">
        <img src="../images/s2s.png" class="logo"><!-- icon -->
      </div>
    </div>
  </nav>
  <nav class="menu">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="float: left;">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#we-offer">Services</a></li>
          <li><a href="#cources-area">Cources</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- crousel start -->

  <header>
    <div class="owl-carousel owl-theme" style="margin: 0px;">
      <div class="item">
        <img src="https://cdn.pixabay.com/photo/2017/10/24/10/30/business-2884023_960_720.jpg" alt="images not found">
        <div class="cover">
          <div class="container">
            <div class="header-content">
              <div class="line"></div>
              <h2>Teimagine Digital Experience with</h2>
              <h1>Start-ups and solutions</h1>
              <h4>We help entrepreneurs, start-ups and enterprises shape their ideas into products</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="https://cdn.pixabay.com/photo/2016/03/09/09/22/workplace-1245776_960_720.jpg" alt="images not found">
        <div class="cover">
          <div class="container">
            <div class="header-content">
              <div class="line animated bounceInLeft"></div>
              <h2>Reimagine Digital Experience with</h2>
              <h1>Intelligent solutions</h1>
              <h4>We help entrepreneurs, start-ups and enterprises shape their ideas into products</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="https://cdn.pixabay.com/photo/2017/05/04/16/37/meeting-2284501_960_720.jpg" alt="images not found">
        <div class="cover">
          <div class="container">
            <div class="header-content">
              <div class="line animated bounceInLeft"></div>
              <h2>Peimagine Digital Experience with</h2>
              <h1>Intelligent Solutions</h1>
              <h4>We help entrepreneurs, start-ups and enterprises shape their ideas into products</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>


  <!-- carousel end -->

  <!-- what we offer -->
  <section class="we-offer-area text-center bg-gray" id="we-offer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="site-heading text-center">
            <h2>What we <span>Offer</span></h2>
            <h4>Lorem Ipsum is simply dummy text</h4>
          </div>
        </div>
      </div>
      <div class="row our-offer-items less-carousel">
        <!-- Single Item -->
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item">
            <i class="fas fa-pen-fancy"></i>
            <h4>Project creation</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </div>
        <!-- End Single Item -->

        <!-- Single Item -->
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item">
            <i class="fas fa-dharmachakra"></i>
            <h4>Software Development</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </div>
        <!-- End Single Item -->

        <!-- Single Item -->
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item">
            <i class="fas fa-tasks"></i>
            <h4>Porject Management</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </div>
        <!-- End Single Item -->

        <!-- Single Item -->
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item">
            <i class="fas fa-tachometer-alt"></i>
            <h4>Porject Impliment</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </div>
        <!-- End Single Item -->

        <!-- Single Item -->
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item">
            <i class="fas fa-recycle"></i>
            <h4>Software Update</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </div>
        <!-- End Single Item -->

        <!-- Single Item -->
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item">
            <i class="fas fa-headset"></i>
            <h4>24/7 Support</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
          </div>
        </div>
        <!-- End Single Item -->
      </div>
    </div>
  </section>
  <!-- what we offer ends -->


  <section class="our-courses text-center" id="cources-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="site-heading text-center">
            <h2 style="color: white;">Our Latest Courses</h2>
            <h4 style="color: white;">Select Our Latest Courses For Bright Carrier</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <%if(response!=undefined){%>

          <% for(var i=0;i< response.length;i++){%>

            <% if(response[i].d_area=="Latest Cources" ){ %>
              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                <a href="/cource?courseId=<%=response[i]._id%>">
                  <div class="card equal-height">
                    <%if(response[i].image!=undefined){%>
                      <img src="uploads/<%=response[i].image%>" class="card-img-top" alt="...">
                      <%}else{%>
                        <img src="images/image-not-found.png" class="card-img-top" alt="...">
                        <%}%>
                          <div class="card-body">
                            <h3 class="card-title">
                              <%=response[i].crs_title%>
                            </h3>
                            <p class="card-text">
                              <%=response[i].short_des%>
                          </div>
                          <button class="details" value="<%=response[i]._id%>">Show
                            Details</button>
                  </div>
                </a>
              </div>
              <!-- End Single Item -->
              <%}%>



                <%}%>
                  <%}%>

      </div>
    </div>
  </section>


  <section class="our-courses text-center " style="background-color:#3856f3ed;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="site-heading text-center">
            <h2 style="color: white;">Featured Cources</h2>
            <!-- <h4 style="color: white;">Select Our Latest Courses For Bright Carrier</h4> -->
          </div>
        </div>
      </div>
      <div class="row">
        <%if(response!=undefined){%>

          <% for(var i=0;i< response.length;i++){%>

            <% if(response[i].d_area=='Featured Cources' ){ %>

              <!-- Single Item -->
              <div class="col-md-4 col-sm-6 equal-height">
                <a href="/cource?courseId=<%=response[i]._id%>">
                  <div class=" card equal-height">
                    <%if(response[i].image!=undefined){%>
                      <img src="uploads/<%=response[i].image%>" class="card-img-top" alt="...">
                      <%}else{%>
                        <img src="images/image-not-found.png" class="card-img-top" alt="...">
                        <%}%>
                          <div class="card-body">
                            <h3 class="card-title">
                              <%=response[i].crs_title%>
                            </h3>
                            <p class="card-text">
                              <%=response[i].short_des%>
                          </div>
                          <button class="details" value="<%=response[i]._id%>">Show
                            Details</button>
                  </div>
                </a>
              </div>
              <!-- End Single Item -->
              <%}%>

                <%}%>

                  <%}%>
      </div>
    </div>
  </section>



  <!-- CONTACT portion -->
  <section id="contact">

    <h1 class="section-header">CONTACT</h1>
    <!-- <h3 style="text-align: center;color: white;">Students interested in doing final year projects can contact us</h3> -->

    <div class="contact-wrapper">

      <!---------------- 
  
        CONTACT PAGE LEFT 
      
        ----------------->

      <form class="form-horizontal" role="form" method="post" action="contact.php">

        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" id="phone" placeholder="Phone No." name="phone" value=""
              maxlength="10">
          </div>
        </div>

        <textarea class="form-control" rows="10" placeholder="MESSAGE" id="message" name="message"></textarea>

        <button class="btn btn-primary send-button" id="send_mail" type="button" value="SEND">
          <div class="button">
            <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
          </div>

        </button>

      </form>

      <!---------------- 
  
        CONTACT PAGE RIGHT 
      
        ----------------->

      <div class="direct-contact-container">

        <ul class="contact-list">
          <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Seattle,
                WA</span></i></li>

          <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a
                  href="tel:1-212-555-5555" title="Give me a call">+91-9749478467</a></span></i></li>

          <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#"
                  title="Send me an email">info@steptosoft.com</a></span></i></li>

        </ul>

        <hr>
        <ul class="social-media-list">
          <li><a href="#" target="_blank" class="contact-icon">
              <i class="fab fa-github" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
              <i class="fab fa-twitter" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
              <i class="fab fa-instagram" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
              <i class="fab fa-codepen" aria-hidden="true"></i></a>
          </li>
        </ul>
        <hr>

        <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>

      </div>

    </div>

  </section>

  <!-- CONTACT portion ENDS -->




  <!-- footer -->

  <footer class="new_footer_area bg_color">
    <div class="new_footer_top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s"
              style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
              <h3 class="f-title f_600 t_color f_size_18">Get in Touch</h3>
              <p>Don’t miss any updates of our new templates and extensions.!</p>
              <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true" _lpchecked="1">
                <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
                <button class="btn btn_get btn_get_two" type="submit">Subscribe</button>
                <p class="mchimp-errmessage" style="display: none;"></p>
                <p class="mchimp-sucmessage" style="display: none;"></p>
              </form>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s"
              style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
              <h3 class="f-title f_600 t_color f_size_18">Download</h3>
              <ul class="list-unstyled f_list">
                <li><a href="#">Company</a></li>
                <li><a href="#">Android App</a></li>
                <li><a href="#">ios App</a></li>
                <li><a href="#">Desktop</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">My tasks</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s"
              style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
              <h3 class="f-title f_600 t_color f_size_18">Help</h3>
              <ul class="list-unstyled f_list">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Term &amp; conditions</a></li>
                <li><a href="#">Reporting</a></li>
                <li><a href="#">Documentation</a></li>
                <li><a href="#">Support Policy</a></li>
                <li><a href="#">Privacy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s"
              style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
              <h3 class="f-title f_600 t_color f_size_18">Team Solutions</h3>
              <div class="f_social_icon">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-linkedin-in"></a>
                <a href="#" class="fab fa-twitter"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_bg">
        <div class="footer_bg_one"></div>
        <div class="footer_bg_two"></div>
      </div>
    </div>
    <div class="footer_bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-sm-7">
            <p class="mb-0 f_400">© Step To Soft. All Rights Reserved</p>
          </div>
          <div class="col-lg-6 col-sm-5 text-right">
            <p>Design And Developed By StepToSoft <i class="icon_heart">And </i><a href="#">Team</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- footer -->
</body>

</html>