<form action="/upload2" method="post" enctype="multipart/form-data">
    <div class="file-field input-field">
        <div class="btn">
            <input name="myImage" type="file">
        </div>
        <button type="submit" id="upload">Upload</button>

    </div>
    <%= typeof msg !='undefined' ? msg : '' %>

</form>