<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../stylesheets/upload.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://use.fontawesome.com/c9d2b81f44.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

</head>

<body>

    <!DOCTYPE html>
    <html>

    <body>


        <p>Click the button to display a confirm box.</p>

        <button onclick="myFunction()">Try it</button>

        <script>
            function myFunction() {
                var responce = confirm("Press a button!");
                console.log("result-->", responce)
            }
        </script>




    </body>

    </html>