/* body  {
    background-image: url("../images/student.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
  } */
  .menu{
    background-color: #3856f3ed;
    color: black;
    border-bottom: black 2px solid;
    
    
    }
    
    .menu ul{
        float: right;
        margin-right: 30px;
    }
    .menu ul li{
     border-left: 1px solid black;
     width: 150px;
    }
    .menu ul li a:hover{
        background-color: #0008;
    }
    .menu ul li a{
      color: white;
        font-size: larger;
    }
    .tab-pane{
        height: 50vh;
        /* margin-bottom: 200px; */
    }
    .tab-content{
        margin-bottom: 200px;
    }
    .crs_mu li{
        font-size: larger;
    }
    .content{
        font-size: medium;
        height: auto;
        margin-bottom: 200px;
    }
    .description {
        white-space: pre-line;
    }


    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #3856f3ed;
        height: 125px;
        color: black;
       
        /* margin-top: 200px; */
     }
     .btn-success{
         margin-top: 10px;
         margin-right: 20px;
         float: right;
         height: 50px;
         width: 100px;
         
     }
     #apply{
         margin-top: 20vh;
         
     }
     .modal-content{
        background-color: #3856f3ed;
        color: white;
     }
    
     