
    /* card */
    .our-courses {
        background-color: #3856f3ed;
        border-bottom: 2px solid cornsilk;
    }

    .card {
        box-shadow: 10px 10px 5px #7f45d3;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 20px;
        background-color: white;
    }

    .card-img-top {
        width: 100%;
        transition: .5s ease;
            backface-visibility: hidden;
    }
    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
 

    .upl_text {

        color: black;
        font-weight: bolder;
        font-size: 16px;
        padding: 16px 32px;
    }

    .card-title {
        margin-top: 10px;
        text-align: center;
    }

    .card-text {
        margin: 15px;
        text-align: justify;
        height: 200px;
    }

    .details {
        width: 100%;
        height: 50px;
        background-color: #343434;
        color: white;
        font-weight: bold;
        /* float: right; */
    }
    

    .fa-plus {
        font-size: 100px;
    }
    .navbar-btn {
        float: right;
        margin-right: 10px;
    }

    /* card end */
.img_upload{
   color: white;
   margin-top: 50px;
}
.input-field{
    margin-top: 50px;
}
#upl{
    color: black;
}
.instruction{
    margin-top: 50px;
    color: white;
    font-weight: bold;
}
.instruction p{
    font-size: larger;
}